
  <div class="bg-white">
    <div class="container mx-auto px-4 py-12 md:py-20">
      <div class="flex flex-col md:flex-row items-center gap-8 md:gap-12">
        <!-- Image Section -->
        <div class="w-full md:w-1/2">
          <div class="relative">
        
            <img src="images/front-left-side-47.avif" 
            alt="cars" class="w-full h-[300px] md:h-[400px] object-cover relative z-10" fill="" />
    
          </div>
        </div>

        <!-- Content Section -->
        <div class="w-full md:w-1/2 space-y-6">
          <h2 class="text-3xl md:text-4xl font-bold text-gray-900">
            Bienvenue au GaragePro, votre partenaire de confiance pour l'entretien et la réparation de votre véhicule.
          </h2>
          <p class="text-gray-600 leading-relaxed">
            Fondé en 2020, notre garage est une entreprise familiale qui s'engage à fournir des services automobiles de qualité 
            supérieure à la communauté locale. 
            Notre équipe de mécaniciens qualifiés possède une vaste expérience dans la
             réparation de toutes les marques et modèles de véhicules, et nous utilisons uniquement des pièces de rechange 
             de qualité pour garantir la fiabilité de nos services. Nous sommes fiers de notre réputation d'honnêteté, d'intégrité
              et de souci du détail, et nous nous efforçons de dépasser les attentes de nos clients à chaque visite.
            </p>
        </div>
      </div>
    </div>
  </div>