<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
      <div class="text-center mb-6">
        <h1 class="text-4xl font-bold text-blue-600">GaragePro</h1>
      </div>
      
      <h2 class="text-xl font-semibold text-center mb-4" id="formTitle">Connexion</h2>
      <form (ngSubmit)="onSubmit()" class="space-y-6">
        <div>
          <label class="block text-gray-700">Email</label>
          <input [(ngModel)]="mail" name="mail" type="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300" placeholder="Entrez votre email">
        </div>
        <div>
          <label class="block text-gray-700">Mot de passe</label>
          <input [(ngModel)]="pswd" name="pswd" type="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:ring-blue-300" placeholder="Entrez votre mot de passe">
        </div>
        <div class="">
          <label>
            <input type="radio" name="option" value="client" [(ngModel)]="selectedOption" (change)="onOptionChange()"> Client
          </label>
        
          <label>
            <input type="radio" name="option" value="mecanicien" [(ngModel)]="selectedOption" (change)="onOptionChange()"> Mécanicien
          </label>
        
          <label>
            <input type="radio" name="option" value="manager" [(ngModel)]="selectedOption" (change)="onOptionChange()"> Manager
          </label>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-200">
          @if(loading){
            Chargement...
          } @else {

            Se connecter
          }
        </button>
      </form>
      <p class="text-center text-sm text-gray-600 mt-4">
        Pas encore de compte ? <a href="/inscription" id="toggleForm" class="text-blue-500 hover:underline">Inscrivez-vous</a>
      </p>
    </div>
</body>
