
<div class="py-12 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl font-bold text-gray-900">Nos Services</h2>
        <p class="mt-4 text-lg text-gray-600">Votre voiture mérite le meilleur !</p>
      </div>
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
        @for(prestation of prestations; track prestation._id){
            <div class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
              <h3 class="text-xl font-semibold text-gray-900 mb-2">{{ prestation.name }}</h3>
              <p class="text-gray-600">Prix: {{ prestation.price.$numberDecimal }} Ariary</p>
              <p class="text-gray-600">Durée: {{ prestation.duration }} minutes</p>
            </div>
        }
        
      </div>
    </div>
  </div>