
<div class="py-12 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl font-bold text-gray-900">Nos Services</h2>
        <p class="mt-4 text-lg text-gray-600">Votre voiture mérite le meilleur !</p>
      </div>
      <div class="flex justify-between mb-3">
        <div class="grow">

          <input type="text" [formControl]="searchControl" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:outline-0 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Rechercher..." />
        </div>
        <a routerLink="/prestations/create" *ngIf="authService.isManager">

          <button class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
            Ajouter un service
          </button>
        </a>
      </div>
      
      @if(isLoading){
        <p>Chargement...</p>
      } @else {

        @if(prestations.length > 0 ){
  
          <app-prestation-list [prestations]="prestations" (delete)="deleteService($event)" [page]="page" [count]="total" (changePage)="changePage($event)"  />  
        } @else {
          <p>Aucune donnée disponible</p>
        }
      }


    </div>
  </div>