<footer class="bg-gray-900 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <!-- {/* Brand */} -->
        <div class="space-y-4">
          <div class="flex items-center">
            <!-- <Stethoscope class="h-8 w-8 text-blue-400" /> -->
            <span class="ml-2 text-xl font-bold">GaragePro</span>
          </div>
          <p class="text-gray-400">
            Depuis plus de 20 ans, nous assurons des services automobiles de qualité.
          </p>
          <div class="flex space-x-4">
            <a href="#" class="text-gray-400 hover:text-white">
              <!-- <Facebook class="h-5 w-5" /> -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <!-- <Twitter class="h-5 w-5" /> -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <!-- <Instagram class="h-5 w-5" /> -->
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <!-- <Linkedin class="h-5 w-5" /> -->
            </a>
          </div>
        </div>

        <!-- {/* Quick Links */} -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Liens rapides</h3>
          <ul class="space-y-2">
            <li><a routerLink="/about" class="text-gray-400 hover:text-white">Qui sommes-nous</a></li>
            <li><a routerLink="/prestations" class="text-gray-400 hover:text-white">Nos Services</a></li>
            <li><a routerLink="/mecaniciens" class="text-gray-400 hover:text-white">Rencontrez nos mécaniciens</a></li>
          </ul>
        </div>

        <!-- {/* Services */} -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Contact</h3>
          <ul class="space-y-2">

              <li class="text-gray-400 hover:text-white">{{ 'E-mail: test@gmail.com' }}</li>
              <li class="text-gray-400 hover:text-white">Numéro de téléphone: 033 33 333 33</li>
              <li class="text-gray-400 hover:text-white">Adresse: IID111 AnkadifostyTest</li>
            
          </ul>
        </div>

        <!-- {/* Contact Info */} -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Developpeurs</h3>
          <ul class="space-y-2">
            <li class="flex items-center text-gray-400">
              Ramandimbiniaina Lahatra Zo
            </li>
            <li class="flex items-center text-gray-400">
              HERITRA Aldonis Mick Lewis
            </li>
          </ul>
        </div>
      </div>

      <!-- {/* Copyright */} -->
      <div class="border-t border-gray-800 mt-12 pt-8 text-center text-gray-400">
        <p>&copy; {{ currentDate | date: 'yyyy' }} GaragePro - M1P12MEAN-ALDO-LAHATRA</p>
      </div>
    </div>
  </footer>