<footer class="bg-gray-900 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <div class="space-y-4">
          <div class="flex items-center">
            <span class="ml-2 text-xl font-bold">GaragePro</span>
          </div>
          <p class="text-gray-400">
            Depuis plus de 20 ans, nous assurons des services automobiles de qualité.
          </p>
          <div class="flex space-x-4">
            <a href="#" class="text-gray-400 hover:text-white">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/facebook.svg" alt="Facebook" class="w-8 h-8 invert">
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/whatsapp.svg" alt="WhatsApp" class="w-8 h-8 invert">
            </a>
            <a href="#" class="text-gray-400 hover:text-white">
              <img src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg" alt="LinkedIn" class="w-8 h-8 invert">
            </a>
          </div>
        </div>

        <!-- Quick Links -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Liens rapides</h3>
          <ul class="space-y-2">
            <li><a routerLink="/about" class="text-gray-400 hover:text-white">Qui sommes-nous</a></li>
            <li><a routerLink="/prestations" class="text-gray-400 hover:text-white">Nos Services</a></li>
            <li><a routerLink="/mecaniciens" class="text-gray-400 hover:text-white">Rencontrez notre équipe</a></li>
          </ul>
        </div>

        <div>
          <h3 class="text-lg font-semibold mb-4">Contact</h3>
          <ul class="space-y-2">

              <li class="text-gray-400">{{ 'E-mail: test@gmail.com' }}</li>
              <li class="text-gray-400">Numéro de téléphone: 033 33 333 33</li>
              <li class="text-gray-400">Adresse: IID111 AnkadifostyTest</li>
            
          </ul>
        </div>

        <div>
          <h3 class="text-lg font-semibold mb-4">Developpeurs</h3>
          <ul class="space-y-2">
            <li class="flex items-center text-white">
              Ramandimbiniaina Lahatra Zo
            </li>
            <li class="flex items-center text-white">
              HERITRA Aldonis Mick Lewis
            </li>
          </ul>
        </div>
      </div>

      <!--  Copyright  -->
      <div class="border-t border-gray-800 mt-12 pt-8 text-center text-gray-400">
        <p>&copy; {{ currentDate | date: 'yyyy' }} GaragePro - M1P12MEAN-ALDO-LAHATRA - Tous droits réservés.</p>
      </div>
    </div>
  </footer>