<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
        <div *ngFor="let prestation of prestations | paginate: { itemsPerPage: 10, currentPage: page, totalItems: count }" class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-shadow">
          <h3 class="text-xl font-semibold text-gray-900 mb-2">{{ prestation.name }}</h3>
          <p class="text-gray-600">Prix: {{ prestation.price.$numberDecimal }} Ariary</p>
          <p class="text-gray-600">Durée: {{ prestation.duration }} minutes</p>
          <div class="flex justify-end gap-3 p-2" *ngIf="authService.isManager">

            <a [routerLink]="['/prestations', prestation._id, 'edit']">

              <span class="text-blue-600 cursor-pointer">Modifier</span>
            </a>
            <span class="text-red-500 cursor-pointer" (click)="showModal(prestation._id)">Supprimer</span>

          </div>
        </div>
    @if(isModalVisible){

      <app-simple-modal (close)="hideModal()" (action)="deleteService()">
        <span title>Supprimer un service</span>
        <span description>Voulez-vous vraiment supprimer ce service</span>
      </app-simple-modal>
    }
  </div>
  <pagination-controls (pageChange)="changeMyPage($event)"></pagination-controls>
