
      <div class="min-h-screen bg-white">
            <!-- Blog Posts Grid -->
        <div class="container mx-auto px-4 py-16">
          <p *ngIf="isLoading" >Chargement...</p>
          <div *ngIf="!isLoading" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            @for (item of users; track $index) {

                <div  class="group">
                  <div class="relative overflow-hidden">
                    <img 
                      src="images/378-480x300.jpg" 
                      alt=""
                      class="w-full h-64 object-cover transform group-hover:scale-110 transition-transform duration-500"
                    >
                  </div>
                  <div class="text-center mt-4">
                    <span class="text-xs text-gray-500">{{ item.role.name }}</span>
                    <h3 class="text-xl font-light mt-2 text-gray-800 hover:text-pink-500 transition-colors">
                      {{ item.name }} {{ item.surname }}
                    </h3>
                  </div>
                </div>
            }
          </div>
        </div>
    
        
      </div>
    