<nav class="bg-white shadow-sm fixed w-full top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex items-center">
          <!-- <lucide-stethoscope  class="h-8 w-8 text-blue-600" /> -->
          <span class="ml-2 text-xl font-bold text-gray-900">GaragePro</span>
        </div>
        
        <!-- {/* Desktop Navigation */} --> 
        <div class="hidden md:flex items-center space-x-8">
          <a routerLink="/home" class="text-gray-700 hover:text-blue-600">Acceuil</a>
          <a routerLink="/prestations" class="text-gray-700 hover:text-blue-600">Nos services</a>
          <a href="#" class="text-gray-700 hover:text-blue-600">Qui sommes-nous</a>
          <a routerLink="/repair-histories" *ngIf="isLoggedIn" class="text-gray-700 hover:text-blue-600">Factures</a>
          <a routerLink="/repair-histories" *ngIf="isLoggedIn && authService.isMecanicien" class="text-gray-700 hover:text-blue-600">Mes opérations</a>
          <a routerLink="/login" *ngIf="!isLoggedIn">

            <button class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
              Se connecter
            </button>
          </a>

            <button  *ngIf="isLoggedIn" (click)="logout()" class="cursor-pointer bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
              Se déconnecter
            </button>
          
        </div>

        <!-- {/* Mobile menu button */} -->
        <div class="md:hidden flex items-center">
          <button
          (click)="toggleMenu()"
            class="text-gray-700"
          >
          @if(!isMenuOpen){

              <!-- <lucide-menu class="h-6 w-6" /> -->
          }

          @if(isMenuOpen){

              <!-- <lucide-x class="h-6 w-6" /> -->
          }
          </button>
        </div>
      </div>
    </div>

    <!-- {/* Mobile Navigation */} -->
     @if(isMenuOpen){

         <div  class="md:hidden">
           <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
             <a href="#" class="block px-3 py-2 text-gray-700 hover:text-blue-600">Home</a>
             <a href="#" class="block px-3 py-2 text-gray-700 hover:text-blue-600">Services</a>
             <a href="#" class="block px-3 py-2 text-gray-700 hover:text-blue-600">Doctors</a>
             <a href="#" class="block px-3 py-2 text-gray-700 hover:text-blue-600">About</a>
             <a href="#" class="block px-3 py-2 text-gray-700 hover:text-blue-600">Contact</a>
             <button class="w-full mt-2 bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">
               Book Appointment
             </button>
           </div>
         </div>
     }
    
  </nav>